{% extends 'base.html.twig' %}


{% block title %}Profil de {{ user.firstname }} {{ user.lastname }} | Epsyz{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1>Profil</h1>
        <h5>{{ user.firstname }} {{ user.lastname }}</h5>

        {% if id is defined %}

            {% if user.id == id %}
                <a href="{{ path('app_user_edit') }}">Editer mon profil</a> <br>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin') }}">Page admin</a>
                {% endif %}
            {% endif %}

        {% else %}

        {% endif %}
    </div>





{% endblock %}
